{% load app_filters %}

<div class="answer">
    <div class="row">
        <div class="col-3 d-flex align-items-center">
            <div class="correct" data-id="{{ answer.id }}">
                {% if answer.correct %}
                    <i class="fa-solid fa-check fa-2x"></i>
                {% endif %}
            </div>
            <div class="user-likes">
                {% if answer|isAnswerLikeUp:request.user.profile %}
                    <div class="like-answer-btn-up active" data-id="{{ answer.id }}">
                        <i class="fa-solid fa-angle-up fa-3x"></i>
                    </div>

                    <div class="like-count" data-id="{{ answer.id }}">{{ answer.get_likes }}</div>

                    <div class="like-answer-btn-down" data-id="{{ answer.id }}">
                        <i class="fa-solid fa-angle-down fa-3x"></i>
                    </div>
                {% elif answer|isAnswerLikeDown:request.user.profile %}
                    <div class="like-answer-btn-up" data-id="{{ answer.id }}">
                        <i class="fa-solid fa-angle-up fa-3x"></i>
                    </div>

                    <div class="like-count" data-id="{{ answer.id }}">{{ answer.get_likes }}</div>

                    <div class="like-answer-btn-down active" data-id="{{ answer.id }}">
                        <i class="fa-solid fa-angle-down fa-3x"></i>
                    </div>
                {% else %}
                    <div class="like-answer-btn-up" data-id="{{ answer.id }}">
                        <i class="fa-solid fa-angle-up fa-3x"></i>
                    </div>

                    <div class="like-count" data-id="{{ answer.id }}">{{ answer.get_likes }}</div>

                    <div class="like-answer-btn-down" data-id="{{ answer.id }}">
                        <i class="fa-solid fa-angle-down fa-3x"></i>
                    </div>
                {% endif %}
            </div>

            <div class="user-icon icon-large">
                <img src="{{ answer.author.avatar.url }}" alt="" />
            </div>
        </div>
        <div class="col-9">
            <div class="answer-text">{{ answer.text }}</div>
            <div class="answer-footer d-flex">
                <div class="form-check p-0">
                    {% if question.author.id == request.user.profile.id %}
                        {% if answer.correct %}
                            <input class="answer-check" type="checkbox" value="Set correct" data-id="{{ answer.id }}" checked>
                        {% else %}
                            <input class="answer-check" type="checkbox" value="Set correct" data-id="{{ answer.id }}">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
