<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block page_title %} {% endblock %}

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- Header -->
        <header class="header container">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a href="{% url 'index' %}" class="logo no-underline navbar-brand">
                        <img width="48" src="{% static 'img/logo.png' %}" alt="Logo: AskMe" />
                        <span>AskMe</span>
                    </a>

                    <form action="#" class="search-form" role="search">
                        <input class="search-input" type="text" placeholder="Search" />
                        <button class="search-button btn">
                            <img src="{% static 'img/search-icon.svg' %}" alt="search-icon" />
                        </button>
                    </form>

                    <a href="{% url 'ask' %}" class="ask-button btn btn-outline-success">Ask!</a>

                    <!-- Authentication -->
                    <div class="auth d-flex">
                        {% if request.user.is_authenticated %}
                            <!-- If auth -->
                            <div class="user-icon icon-medium">
                                <img src="{% static request.user.profile.avatar.url %}" />
                            </div>
                            <div class="user-info">
                                <a href="{% url 'settings' %}" class="user-name no-underline">{{ request.user.username }}</a>

                                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'index' %}">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <!-- If not auth -->
                            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <!-- Authentication -->
                </div>
            </nav>
        </header>
        <!-- Header -->

        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container">
                <!-- Title -->
                <div class="title d-flex align-items-baseline">{% block title %} {% endblock %}</div>
                <!-- Title -->

                <div class="row">
                    <div class="col-8">
                        <!-- Add content here -->
                        {% block content %} {% endblock %}
                    </div>

                    <div class="col-2"></div>

                    <div class="col-2">
                        <div class="popular-tags">
                            <h2>Popular tags</h2>
                            <ul class="vert-tags">
                                {% include 'include/tag_list.html' with tag_list=popular_tags %}
                            </ul>
                        </div>

                        <div class="best-members">
                            <h2>Best Members</h2>
                            <ul class="horiz-tags">
                                {% for user in best_users %}
                                    <li><a href="#">{{ user }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End page content -->
    </body>
</html>
