.container {
    padding: 60px 15px 0;
}

.logo, .logo:hover {
    color: #ffffff;
}

.no-underline {
    text-decoration: none;
}

.search-form {
    margin-left: 76px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px 20px;
}

.search-button, .search-button:hover {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0px 18px;
    cursor: pointer;
}

.ask-button {
    height: 100%;
    padding: 5px 20px;
    cursor: pointer;
    background: rgb(15, 150, 0);
    color: #ffffff;
}

.user-icon {
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.icon-medium {
    width: 40px;
    height: 40px;
}

.icon-large {
    width: 80px;
    height: 80px;
}

.icon-extra-large {
    width: 120px;
    height: 120px;
}

.user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    margin-left: auto;
    color: gray;
    display: flex;
    justify-content: center;
}

.user-name:hover {
    color: #c5c4c4;
}

.question, .answer {
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.hot-questions {
    padding: 0px 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.question-footer, .answer-footer {
    margin-top: 10px;
}

.question-answers {
    padding-right: 20px;
}

.user-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 25px;
}

.like-up, .like-down {
    width: 48px;
    height: 48px;
    background-image: url("/static/img/arrow.png");
    cursor: pointer;
}

.like-down {
    transform: rotate(180deg);
}

/* .lidiUp.set {
    background-position: -24px;
}

.lidiDown.set {
    background-position: -72px;
} */

.like-count,
.dislike-count {
    font-size: 18px;
    color: #858585;
}

ul {
    padding-inline-start: initial;
    list-style-type: none;
}

.vert-tags li {
    display: inline;
    padding-left: 5px;
}

.horiz-tags li {
    padding-bottom: 5px;
}

.form-label {
    padding: 0px 40px;
}

textarea {
    resize: none;
}

.vertical-line {
    width: 100%;
    border-bottom: 1px solid black;
}

.invalid-user-info {
    color: red;
    display: none;
}