<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Error 404</title>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/not_found.css' %}" rel="stylesheet" />
    </head>

    <body class="bg-purple">
            
        <div class="stars">
            <div class="custom-navbar">
                <div class="brand-logo">
                    <a href="{% url 'index' %}" class="brand-logo navbar-brand d-flex">
                        <img width="48" src="{% static 'img/logo.png' %}" alt="Logo: AskMe" />
                        <span class="nav-text">AskMe</span>
                    </a>
                </div>
                <div class="navbar-links">
                    <ul>
                        <li><a href="{% url 'index' %}" class="nav-text">Home</a></li>
                        <li><a href="{% url 'hot_questions' %}" class="nav-text">Hot Questions</a></li>
                    </ul>
                </div>
            </div>

            <div class="central-body">
                <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
                <a href="{% url 'index' %}" class="btn-go-home">GO BACK HOME</a>
            </div>

            <div class="objects">
                <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
                <div class="earth-moon">
                    <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                    <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
                </div>
            </div>

            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            
        </div>
    </body>

</html>
