{% extends "inc/base.html" %} 

{% load static %} 


{% block page_title %}
<title>Ask question</title>
{% endblock %}


{% block title %}

<!-- Title -->
<div class="title d-flex">
    <h1>Questions</h1>
</div>
<!-- Title -->

{% endblock %}


{% block content %}


<form action="#">
    <!-- Question title -->
    <div class="row g-2 align-items-baseline">
        <div class="col-3">
            <label class="form-label">Title</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" id="title" placeholder="Title" />
        </div>
    </div>

    <!-- Question text -->
    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-3">
            <label class="form-label">Text</label>
        </div>
        <div class="col-9">
            <textarea class="form-control" id="text" rows="6" placeholder="Text"></textarea>
        </div>
    </div>

    <!-- Question tags -->
    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-3">
            <label class="form-label">Tags</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" id="tags" placeholder="Tags" />
        </div>
    </div>

    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class="ask-btn btn btn-primary w-100">Ask!</button>
        </div>
        <div class="col-5"></div>
    </div>
</form>

{% endblock %}
