{% extends "include/base.html" %} 

{% load static %} 
{% load django_bootstrap5 %}


{% block page_title %}
<title>Ask question</title>
{% endblock %}


{% block title %}
<h1>Questions</h1>
{% endblock %}


{% block content %}


<form action="#">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}

    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class="ask-btn btn btn-primary w-100">Ask!</button>
        </div>
        <div class="col-5"></div>
    </div>
</form>

{% endblock %}
