{% extends "include/base.html" %} 

{% load static %} 


{% block page_title %}
<title>Stack Overflow</title>
{% endblock %}


{% block title %}
<h1>New questions</h1>
<h3 class="hot-questions">
    <a href="{% url 'hot_questions' %}">Hot Questions</a>
</h3>
{% endblock %}


{% block content %}

<!-- Questions -->
{% for question in questions %} 
    {% include 'include/question_item.html' %}
{% endfor%}
<!-- Questions -->

<!-- Pagination -->
{% include 'include/pagination.html' with page_obj=questions %}
<!-- Pagination -->

{% endblock %}
