{% extends "inc/base.html" %} 

{% load static %} 


{% block page_title %}
<title>Stack Overflow</title>
{% endblock %}


{% block title %}

<!-- Title -->
<div class="title d-flex">
    <h1>New questions</h1>
    <h3 class="hot-questions">
        <a href="#">Hot Questions</a>
    </h3>
</div>
<!-- Title -->

{% endblock %}


{% block content %}

<!-- Questions -->
{% for question in questions %} 
    {% include 'inc/question_item.html' %}
{% endfor%}
<!-- Questions -->

<!-- Pagination -->
{% include 'inc/pagination.html' %}
<!-- Pagination -->

{% endblock %}
