<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header class="header container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a href="index.html" class="logo no-underline navbar-brand">
                    <img width="48" src="/static/img/logo.png" alt="Logo: Stack Overflow">
                    <span>Stack Overflow</span>
                </a>

                <form action="#" class="search-form" role="search">
                    <input class="search-input" type="text" placeholder="Search">
                    <button class="search-button btn">
                        <img src="/static/img/search-icon.svg" alt="search-icon">
                    </button>
                </form>

                <a href="ask.html" class="ask-button btn btn-outline-success">Ask!</a>

                <!-- Authentication -->
                <div class="auth d-flex">
                    <!-- If not auth -->
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul> -->

                    <!-- If auth -->
                    <div class="user-icon icon-medium">
                        <img src="/static/img/avatar.jpg">
                    </div>
                    <div class="user-info">
                        <a href="#" class="user-name no-underline">Username</a>

                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="settings.html">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Authentication -->
            </div>
        </nav>
    </header>
    <!-- Header -->

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">

            <!-- Title -->
            <div class="title align-items-baseline">
                <h1>Log In</h1>
            </div>
            <!-- Title -->

            <div class="row">
                <div class="col-8">
                    <form action="#" class="was-validated">
                        <!-- Login -->
                        <div class="row g-2 align-items-baseline">
                            <div class="col-3">
                                <label class="form-label">Login</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="login" placeholder="Login" required>
                                <div class="invalid-feedback">Please enter a login.</div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row g-2 align-items-baseline mt-3">
                            <div class="col-3">
                                <label class="form-label">Password</label>
                            </div>
                            <div class="col-9">
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                                <div class="invalid-feedback">Please enter a password.</div>
                            </div>
                        </div>

                        <!-- Invalid info (dsplay = none) -->
                        <div class="row g-2 align-items-baseline mt-3">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <span class="invalid-user-info">Wrong password or login!</span>
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <!-- Log In -->
                        <div class="row g-2 align-items-baseline mt-3">
                            <div class="col-5"></div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary w-100">Log In</button>
                            </div>
                            <div class="col-5"></div>
                        </div>

                        <div class="row g-2 align-items-baseline mt-3">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <p>Don't have an account? &nbsp;
                                    <a href="register.html" class="no-underline">Create new account</a>
                                </p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>
                </div>

                <div class="col-2"></div>

                <div class="col-2">
                    <div class="popular-tags">
                        <h2>Popular tags</h2>
                        <ul class="vert-tags">
                            <li><a href="#">Tag1</a></li>
                            <li><a href="#">Tag2</a></li>
                            <li><a href="#">Tag3</a></li>
                        </ul>
                    </div>

                    <div class="best-members">
                        <h2>Best Members</h2>
                        <ul class="horiz-tags">
                            <li><a href="#">Tag1</a></li>
                            <li><a href="#">Tag2</a></li>
                            <li><a href="#">Tag3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Main space -->

        </div>
    </main>
    <!-- End page content -->
</body>

</html>