{% extends "include/base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block page_title %}
<title>Log In</title>
{% endblock %}


{% block title %}
<h1>Log In</h1>
{% endblock %}


{% block content %}

<form novalidate action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}

    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <p>Don't have an account? &nbsp;
                <a href="{% url 'signup' %}" class="no-underline">Create new account</a>
            </p>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- Log In -->
    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </div>
        <div class="col-5"></div>
    </div>
</form>

{% endblock %}
