{% extends "include/base.html" %}

{% load static %}


{% block page_title %}
<title>Quesion</title>
{% endblock %}


{% block content %}

<!-- Question -->
{% include 'include/question_item.html' %}
<!-- Question -->

<!-- Line -->
<h5>Answers<span class="answer-count">({{ question.answers.count }})</span></h5>
<div class="vertical-line mb-3"></div>
<!-- Line -->

<!-- Answers -->
{% for answer in answers %}
    {% include 'include/answer_item.html' %}
{% endfor %}
<!-- Answers -->

<!-- Pagination -->
{% include 'include/pagination.html' with page_obj=answers %}
<!-- Pagination -->

<!-- Line -->
<div class="vertical-line mb-3"></div>
<!-- Line -->

<!-- Answer text -->
<form action="#" class="mb-3" role="answer">
    <div class="row g-2 align-items-baseline mt-3">
        <div class="col">
            <textarea class="form-control" id="text" rows="6"
            placeholder="Enter your answer here.."></textarea>
        </div>
    </div>

    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class="answer-btn btn btn-primary w-100">Answer</button>
        </div>
        <div class="col-5"></div>
    </div>
</form>

{% endblock %}
