{% extends "include/base.html" %}

{% load static %}
{% load django_bootstrap5 %}


{% block page_title %}
<title>Settings</title>
{% endblock %}


{% block title %}
<h1>Settings: &nbsp;</h1>
<h3 class="tag-info">{{ user_info.login }}</h3>
{% endblock %}


{% block content %}

<form action="{% url 'settings' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}

    <!-- Avatar -->
    <div class="row g-2 mt-3 justify-content-center">
        <div class="col-2">
            <div class="user-icon icon-extra-large ">
                <img src="{{ request.user.profile.avatar.url }}">
            </div>
        </div>
    </div>

    <!-- Save -->
    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </div>
        <div class="col-5"></div>
    </div>
</form>

{% endblock %}
