{% extends "include/base.html" %}

{% load static %}
{% load django_bootstrap5 %}


{% block page_title %}
<title>Settings</title>
{% endblock %}


{% block title %}
<h1>Settings: &nbsp;</h1>
<h3 class="tag-info">{{ user_info.login }}</h3>
{% endblock %}


{% block content %}

<form action="#" class="was-validated">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}

    <!-- Save -->
    <div class="row g-2 align-items-baseline mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </div>
        <div class="col-5"></div>
    </div>
</form>

{% endblock %}
