{% extends "include/base.html" %} 

{% load static %} 


{% block page_title %}
<title>Tag info</title>
{% endblock %}


{% block title %}
<h1>Tag: &nbsp;</h1>
<h3 class="tag-info">{{ tag_name }}</h3>
{% endblock %}


{% block content %}

<!-- Questions -->
{% for question in questions %} 
    {% include 'include/question_item.html' %}
{% endfor%}
<!-- Questions -->

<!-- Pagination -->
{% include 'include/pagination.html' with page_obj=questions %}
<!-- Pagination -->

{% endblock %}
