{% extends "inc/base.html" %} 

{% load static %} 


{% block page_title %}
<title>Tag info</title>
{% endblock %}


{% block title %}

<!-- Title -->
<div class="title d-flex align-items-baseline">
    <h1>Tag: &nbsp;</h1>
    <h3 class="tag-info">{{ tag.tag_name }}</h3>
</div>
<!-- Title -->

{% endblock %}


{% block content %}

<!-- Questions -->
{% for question in questions %} 
    {% include 'inc/question_item.html' %}
{% endfor%}
<!-- Questions -->

{% endblock %}


<!-- Pagination -->
{% include 'inc/pagination.html' %}
<!-- Pagination -->
