<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Base</title>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- Header -->
        <header class="header container">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a href="{% url 'index' %}" class="logo no-underline navbar-brand">
                        <img width="48" src="{% static 'img/logo.png' %}" alt="Logo: Stack Overflow" />
                        <span>Stack Overflow</span>
                    </a>

                    <form action="#" class="search-form" role="search">
                        <input class="search-input" type="text" placeholder="Search" />
                        <button class="search-button btn">
                            <img src="{% static 'img/search-icon.svg' %}" alt="search-icon" />
                        </button>
                    </form>

                    <a href="{% url 'ask' %}" class="ask-button btn btn-outline-success">Ask!</a>

                    <!-- Authentication -->
                    <div class="auth d-flex">
                        {% if user_info.is_auth %}
                            <!-- If auth -->
                            <div class="user-icon icon-medium">
                                <img src="{% static 'img/avatar.jpg' %}" />
                            </div>
                            <div class="user-info">
                                <a href="#" class="user-name no-underline">{{ user_info.username }}</a>

                                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="settings.html">Settings</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#">Log out</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <!-- If not auth -->
                            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                <li class="nav-item"><a class="nav-link" href="#">Log in</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <!-- Authentication -->
                </div>
            </nav>
        </header>
        <!-- Header -->

        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container">
                <!-- Title -->
                {% block title %} {% endblock %}
                <!-- Title -->

                <div class="row">
                    <div class="col-8">
                        <!-- Add content here -->
                        {% block content %} {% endblock %}
                    </div>

                    <div class="col-2"></div>

                    <div class="col-2">
                        <div class="popular-tags">
                            <h2>Popular tags</h2>
                            <ul class="vert-tags">
                                {% include 'inc/tag_list.html' with tag_list=popular_tags %}
                            </ul>
                        </div>

                        <div class="best-members">
                            <h2>Best Members</h2>
                            <ul class="horiz-tags">
                                {% for user in best_users %}
                                    <li><a href="#">{{ user }}</a></li>
                                {% endfor %}
                                {% comment %} {% include 'inc/tag_list.html' with tag_list=best_users %} {% endcomment %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End page content -->
    </body>
</html>
